body {
    display: flex;
}

.App {
    width: 1280px;
    height: 720px;
    background-color: rgb(50, 50, 50);
    display: flex;
}

.title_box {
    width: 280px;
    height: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    color: rgb(183, 183, 183);
    box-sizing: border-box;
    border-right: 2px solid rgb(183, 183, 183);
}
.title_box .title_up_box {
    margin-top: 150px;
    font-size: 30px;
    font-style: italic;
    font-weight: bold;
    line-height: 50px;
    text-align: center;
    font-family: 'Times New Roman';
}
.title_box .title_down_box {
    margin-bottom: 20px;
    font-size: 10px;
    font-style: normal;
    line-height: 16px;
    text-align: center;
    font-family: Verdana;
}

.contents_box {
    display: flex;
    flex-direction: column;
}
.contents_box .nav_box {
    width: 1000px;
    height: 120px;
    box-sizing: border-box;
    border-bottom: 2px solid white;
    display: flex; justify-content: flex-end;
    align-items: end;
}
.contents_box .nav_box .mail {
    width: 30px;
    height: 30px;
    margin: 0 10px 10px 0;
}

.contents_box .section_box {
    display: flex;
    width: 1000px;
    height: 600px;
}

.article_box {
    width: 250px;
    height: 100%;
    opacity: 0.4;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    color: white;
    transition: all 1s ease;
    position: relative;
}
.article_box:hover {
    opacity: 0.9;
}

.article_box .item {
    width: 250px;
    height: 100%;
    padding: 70px 40px;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.article_box .item .text .number {
    margin: 0;
    text-decoration: underline;
    text-underline-offset: 10px;
}
.article_box .item .text .title {
    font-weight: bold;
    margin: 25px 0 5px;
}
.article_box .item img {
    width: 170px;
    height: 100px;
}
.article_box .item:hover .img {
    transform: scale(1.1, 1.1);
}

.article_box::before {
    content: '';
    background-image: url(back.png);
    transition: all 1s ease;
    width: 0%;
    height: 100%;
    position: absolute;
    z-index: -1;
}
.article_box:hover::before {
    width: 100%;
}
